@import url('../Poppins-Font.css');
.LandingCom-3-collection-container {
    background-color: #EEEBE4;
    text-align: center;
    padding: 0 3vw;
    margin-bottom: 20px;
  }
  

  .ishum-contents-MainHeading{
    display: flex;
    color: #4B3D1A;
    font-family: 'PoppinsSemibold';
    font-size: 1.1rem;
    flex-direction: column;
    align-items: center;
    margin: 18px 0 30px 0;
  }
  
  
  .ishum-contents-Com3-UnderLine{
   width: 40vw;
  }
  
  .LandingCom-3-collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 40px;
  }
  
  .LandingCom-3-collection-item {
    position: relative;
  }
  
  .LandingCom-3-collection-image {
    width: 100%;
    height: 26vw;
    object-fit: contain;
  }
  
  .LandingCom-3-collection-info {
  margin-top: 20px;
    text-align: center;
  }
  
  .LandingCom-3-collection-name {
    color: #4B3D1A;
    font-family: 'PoppinsRegular';
    font-size: 1.1rem;
    padding: 0.5vw;
  }
  
  .LandingCom-3-underline {
    width: 60px;
    height: 2px;
    background-color: #4B3D1A;
    margin: 5px auto;
  }
  
  .LandingCom-3-view-more {
    font-family: 'PoppinsRegular';
    color: #4B3D1A;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  .LandingCom-3-view-all-button {
    margin-top: 2.6vw;
    border: none;
    font-family: 'PoppinsRegular';
    padding: 1.2vw 2.6vw;
    background-color: #4B3D1A;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  

/* Responsive Design */
@media (max-width: 768px) {
  .LandingCom-3-collection-container {
    padding: 5vw 5vw;
  }

  .LandingCom-3-collection-title {
    font-size: 1.3rem;
  }

  .ishum-contents-MainHeading {
    font-size: 0.9rem;
    margin: 12px 0 20px 0;
  }

  .ishum-contents-Com3-UnderLine {
    width: 100%;
  }

  .LandingCom-3-collection-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 10px;
  }

  .LandingCom-3-collection-image {
    height: 45vw;
  }

  .LandingCom-3-collection-info {
    margin-top: 15px;
  }

  .LandingCom-3-collection-name {
    font-size: 1rem;
    padding: 1vw;
  }

  .LandingCom-3-underline {
    width: 45px;
    height: 2px;
  }

  .LandingCom-3-view-more {
    font-size: 0.85rem;
  }

  .LandingCom-3-plus-button {
    width: 24px;
    height: 24px;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
  }

  .LandingCom-3-view-all-button {
    margin-top: 5vw;
    padding: 3vw 6vw;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .LandingCom-3-collection-title {
    font-size: 1.15rem;
  }

  /* .LandingCom-2-collection-image {
    height: 50vw;
  } */

  .LandingCom-3-view-all-button {
    width: 80%;
    font-size: 0.85rem;
  }

  .LandingCom-3-collection-name {
    font-size: 0.95rem;
  }
}

