@import url('../Poppins-Font.css');

.LandingCom-2-collection-container {
  background-color: #EEEBE4;
  text-align: center;
  padding: 3vw 3vw;
}

.LandingCom-2-collection-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.ishum-contents-MainHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18px 0 30px 0;
}

.ishum-contents-Com2-UnderLine {
  width: 30vw;
}

.LandingCom-2-collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 40px;
}

.LandingCom-2-collection-item {
  position: relative;
  max-width: 100%;
}

.LandingCom-2-collection-image {
  width: 100%;
  height: 26vw;
  object-fit: contain;
}

.LandingCom-2-collection-info {
  margin-top: 20px;
  text-align: center;
}

.LandingCom-2-collection-name {
  font-size: 1.1rem;
  padding: 0.5vw;
  font-weight: bold;
}

.LandingCom-2-underline {
  width: 60px;
  height: 2px;
  background-color: red;
  margin: 5px auto;
}

.LandingCom-2-view-more {
  color: red;
  font-size: 0.9rem;
  cursor: pointer;
}

.LandingCom-2-plus-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid gray;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.LandingCom-2-view-all-button {
  margin-top: 2.6vw;
  padding: 1.2vw 2.6vw;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .LandingCom-2-collection-container {
    padding: 5vw 5vw;
  }

  .LandingCom-2-collection-title {
    font-size: 1.3rem;
  }

  .ishum-contents-MainHeading {
    margin: 12px 0 20px 0;
  }

  .ishum-contents-Com2-UnderLine {
    width: 100vw;
  }

  .LandingCom-2-collection-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 10px;
  }

  .LandingCom-2-collection-image {
    height: 45vw;
  }

  .LandingCom-2-collection-info {
    margin-top: 15px;
  }

  .LandingCom-2-collection-name {
    font-size: 1rem;
    padding: 1vw;
  }

  .LandingCom-2-underline {
    width: 45px;
    height: 2px;
  }

  .LandingCom-2-view-more {
    font-size: 0.85rem;
  }

  .LandingCom-2-plus-button {
    width: 24px;
    height: 24px;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
  }

  .LandingCom-2-view-all-button {
    width: 80%;
    margin-top: 5vw;
    padding: 3vw 6vw;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .LandingCom-2-collection-title {
    font-size: 1.15rem;
  }

  .LandingCom-2-view-all-button {
    width: 80%;
    font-size: 0.85rem;
  }

  .LandingCom-2-collection-name {
    font-size: 0.95rem;
  }
}

