@import url('../Poppins-Font.css');
.LandingCom5-container_2 {
    position: relative;
    width: 100%;
    height: 40vw; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .LandingCom5-container_2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(to right, rgba(61, 61, 61, 0.308), rgba(72, 72, 72, 0.176)); /* Adjust opacity as needed */
    z-index: 2; /* Above the image, below the text */
  }
  

  .landingCom5-info{
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 30;
  }

  .landingCom5-info h1{
    font-family: 'PoppinsSemibold';
    color: white;
    font-size: 2.8vw;
    letter-spacing: 3px;
  }

  .landingCom5-info h3{
    font-family: 'PoppinsMedium';
    color: white;
    padding: 3vw;
    font-size: 1.4vw;
    letter-spacing: 3.2px;
  }

  .EXCLUSIVES-btn{
    background-color: #4B3D1A;
    font-family: 'PoppinsRegular';
    color: white;
    letter-spacing: 1.9px;
    font-size: 1rem;
    padding: 1.5vw 3vw;
    border: none;
  }
  .EXCLUSIVES-btn:hover{
    background-color: gray;
  }
  .LandingCom5-hero-img_2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1; /* Ensure image is below content */
  }
  
  @media (max-width: 768px) {
    .LandingCom5-container_2 {
        position: relative;
        width: 100%;
        height: 90vw;
    }
  
    .LandingCom5-hero-img_2 {
        width: 100%;
        height: 90vw;
    }
  }