.User-profile-sidebar {
    width: 300px;
    border-right: 1px solid #eee;
    padding: 10px;
  }
  
  .User-profile-sidebar-item {
    padding:12px  1px;
    font-size: 1rem;
    margin-bottom: 8px;
    cursor: pointer;
    color: #555;
    transition: 0.3s;
  }
  
  .User-profile-sidebar-item:hover,
  .User-profile-sidebar-item.active {
    color: #000;
    font-weight: bold;
  }

  @media (max-width: 768px) {
  .User-profile-sidebar {
    width: 40%;
    padding: 2px;
  }

}

  