/* Bestsellers.css */
@import url('../Poppins-Font.css');

.bestsellers-container {
  width: auto;
    padding: 4vw;
  }
  
  .bestsellers-title {
    text-align: center;
    font-size: 2.1vw;
    font-weight: 500;
    color: #4B3D1A;
    letter-spacing: 1.4px;
  }
  
  .bestsellers-content {
    width: 100%;
    display: flex;
    gap: 20px;
  }
  
  .bestsellers-filters {
    width: 20%;
    padding: 15px;
    border-radius: 5px;
  }
  
  .bestsellers-filters h3 {
      font-family: 'PoppinsRegular';
    margin-bottom: 3vw;
    font-weight: 100 !important;
    font-size: 2vw;
    text-align: left;
    color: rgb(76, 76, 76);
  }

  .bestsellers-price-range {
    -webkit-appearance: none; /* Remove default styling */
    width: 90%;
    height: 11px;
    border-radius: 18px;
    background: linear-gradient(to right , rgb(217, 201, 161) 40%, goldenrod ); /* Change track color */
    outline: none;
    /* transition: 0.3s; */
    cursor: pointer;
    border: none;
    box-shadow: none;
  }
  

  .bestsellers-price-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid white;
    border-radius: 50%;
    background: rgb(149, 112, 17); /* Change handle color */
    cursor: pointer;
    transition: 0.3s;
  }

  .bestsellers-size-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  
  .bestsellers-size-button {
    font-family: 'PoppinsRegular';
    padding:  0.5vw  0.9vw;
    border: 1px solid #8f8f8f;
    cursor: pointer;
    background: #EEEBE4;
  }
  
   .store-bestseller{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .store-bestseller h3{
       font-family: 'PoppinsRegular';
     font-size: 1vw;
     font-weight: 100;
     text-align: left;
     color: #4B3D1A;
  }

  .store-bestseller h2{
    font-family: 'PoppinsRegular';
    margin: 10px 0;
    color: rgb(200, 20, 20);
    font-size: 2vw;
    font-weight: 500;
  }
  
  .bestseller-boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5vw;
    margin-bottom: 2vw;
  }

  .bestseller-boxes-1{
    font-family: 'PoppinsRegular';
  position: relative;
  gap: 5px;
  background-color: #EEEBE4;
  }

  .for-all-boxes-btn  button{
    font-family: 'PoppinsRegular';
    background-color: #EEEBE4;
    border: 1px solid #9f967f;
    cursor: pointer;
    padding: 0.8vw;
    font-size: 0.9rem;
    border-radius: 12px;
  }


  .bestseller-boxes-2 button{
    padding: 0.9vw;
    width: 10vw;

  }

  .bestseller-boxes-3 button{
    padding: 0.9vw;
    width: 10vw;
  }

  .bestseller-boxes-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1vw;
  }

  .bestseller-boxes-3{
    display: flex;
    flex-direction: column;
   gap: 5px;
   font-size: 1vw;
  }

  .Allproduct-Boxes{
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
  }


  .Category-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: 3rem;
  }
  .Category-content h2{
    font-family: 'PoppinsRegular';
     color: #4B3D1A;
     font-size: 1.5vw;
     font-weight: 400;
  }

  .Category-content-All-h2{
    display: flex;
    justify-content: space-between;
    font-family: 'PoppinsRegular';
    color: #4B3D1A;
    font-size: 1.5vw;
     font-weight: 400;
  }

  .two-input-minimax{
    display: flex;
    align-items: center;
    margin: 2.2vw 0;
    text-align: center;
    gap: 30px;
    background-color:#EEEBE4 ;
  }
  .two-input-minimax input{
    padding: 0.9vw 0;
    max-width: 5vw;
    text-align: center;
    background-color:#EEEBE4 ;
    position: relative;
    border-radius: 20px;
    border: 1px solid  rgb(165, 165, 165);
  }

  .two-input-minimax input::placeholder{
    position: absolute;
    left: 10px;
  }

  .btn-sort{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .btn-sort .Sort-Right-icon{
    font-size: 1rem;
  }


  .Category-section div {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .Catergories-dropdown {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    background:transparent;
    border: 1px  solid  black;
    border-radius: 5px;
  }

  .Clear-Filter{
    font-size: 1rem;
    padding: 9px  12px;
    border: none;
    border-radius: 5px;
    background-color: #4B3D1A;
  }

  .Clear-Filter a{
    font-family: 'PoppinsRegular';
    color: white;
  }
  
  .Catergories-dropdown li {
    color: rgb(62, 62, 62);
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #2f2f2f;
  }
  
  .Catergories-dropdown li:last-child {
    border-bottom: none;
  }
  

  .Catergories-dropdown li:last-child {
    border-bottom: none;
  }
  
  .Catergories-dropdown input[type="radio"] {
    appearance: none;
    width: 14px;
    height: 14px;
    right: 4px;
    border: 2px solid #555;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position:absolute;
  }
  
  .Catergories-dropdown input[type="radio"]:checked {
    background-color: #555;
  }


  .SortPrice-dropdown {
    list-style: none;
    padding: 5px;
    margin: 0;
    position: absolute;
    background: #EEEBE4;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    width: 180px;
    top: 90px;
    z-index: 10;
    border-radius: 5px;
  }
  
  .SortPrice-dropdown li {
    padding: 8px;
    color: rgb(72, 72, 72);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .SortPrice-dropdown input[type="radio"] {
    appearance: none;
    position: absolute;
    width: 14px;
    height: 14px;
    border: 2px solid #555;
    border-radius: 50%;
    outline: none;
    right: 20px;
    cursor: pointer;
  }
  
  .SortPrice-dropdown input[type="radio"]:checked {
    background-color: #555;
  }

  .bestsellerFillter-button{
    display: none;
  }

  .AllPrice-of-bestseller p{
     font-size: 1.5rem;
  }

  .firstparagraph{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  .bestseller-MainHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5.2vw;
  }

  .UnderLine{
    width: 42vw;
  }

.Mobile-SortFilterBar{
  display: none;
}

 

   @media(max-width:768px){
    .for-all-boxes-btn {
      flex: 1 1 calc(60% - 30px);
      display: flex;
      flex-direction: column;
      gap: 10px;
    }


.Mobile-SortFilterBar{
 position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1199;
    background: #EEEBE4;
    padding: 10px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    display: block;
}
    

   .btn-sort{
    margin-bottom: 10px;
   }
    
    .Allproduct-Boxes{
      margin-bottom: 8px;
      flex-direction: column;
    }

    .Clear-Filter{
      display: none;
    }

    .bestseller-boxes{
      position: relative;
        flex-wrap: wrap;
         align-items: end;
    }
    
    .bestseller-boxes-3 button{
      width: 50%;
    }

    .bestseller-boxes-2 button{
      width: 50%;
    }

    .bestsellers-filters{
      display: none;
    }
    
    .store-bestseller{
      align-items: center;
    }

    .store-bestseller h3{
      
      display: none;
    }

    .store-bestseller h2{
      font-size: 1.4rem;
      margin-bottom: 8px;
    }

    .bestsellers-title{
      font-size: 1.6rem;
    }

    .bestsellerFillter-button{
      position: absolute;
      display: block;
      top: 120px;
      right: 20px;
    }

    .Filtter-button{
      font-size: 1rem;
      padding: 0.8rem 1.8rem;
      background-color:#EEEBE4 ;
      border: none;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.21);
    }
   }

 